{% extends 'core/base.html' %}
{% block title %}welcome{% endblock title %}
{% block content %}
    <div class="mt-0 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center uppercase">Newest Items</h2>

        <div class="grid grid-cols-3 md:grid-cols-5 gap-3 ">
            {% for item in items  %}
                <div class="hover:shadow-lg" >
                    <a href="{% url 'item:detail' item.id %}" class="">
                        <div class="w-100% image-container md:h-72 overflow-hidden"> 
                            <img src="{{item.image.url}}" alt="image" class="rounded-t-xl w-full h-auto">
                        </div>

                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-lg md:text-2xl capitalize">{{item.name}}</h2>
                            <p class="text-gray-400 text-sm">Price: {{item.price}}</p>
                            {% comment %} <span class="bg-teal-200 p-2 rounded-sm w20">{{item.category}}</span> {% endcomment %}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        
    </div>
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Categories</h2>
        <div class="grid grid-cols-4 md:grid-cols-6 gap-1  md:gap-3 ">
            {% for category in categories %}
            <div class="">
                <a href="{% url 'item:items' %}?query={{query}}&category={{category.id}}">
                    <div class="p-3 md:p-4 lg:p-6 bg-white rounded-xl hover:shadow-lg">
                        <h2 class="text-lg md:text-2xl capitalize">{{category.name}}</h2>
                        <p class="text-gray-400 text-sm">{{category.items.count}} items</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

    </div>
{% endblock content %}